<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.gradle.needle.engine.SuperMapper">
	<select id="selectProdata" parameterType="Prodata" flushCache="false"
		useCache="true" statementType="PREPARED" resultType="Prodata">
        <![CDATA[
 SELECT * FROM prodata WHERE PROTOCOLID = #{protocolid} ORDER BY offsets ASC
        ]]>
	</select>

	<select id="selectPropaths" parameterType="Propaths" flushCache="false"
		useCache="true" statementType="PREPARED" resultType="Propaths">
        <![CDATA[
 SELECT * FROM propaths WHERE PROTOCOLID = #{protocolid} ORDER BY offsets ASC
        ]]>
	</select>

	<select id="selectPathdescr" parameterType="Pathdescr" flushCache="false" 
	    useCache="true" statementType="PREPARED" resultType="Pathdescr">
        <![CDATA[
 SELECT * FROM pathdescr WHERE PROTOCOLID = #{protocolid} AND IECPATH = #{iecpath}
        ]]>
	</select>
	
	<select id="selectWtinfo" parameterType="Wtinfo" flushCache="false"
	    useCache="true" statementType="PREPARED" resultType="Wtinfo">
 SELECT * FROM base_wtinfo
        <choose>
          <when test="wpid != null">
            WHERE wpid = #{wpid} ORDER BY id ASC
          </when>
                  
          <otherwise>
            WHERE 1 = 1
          </otherwise> 
        </choose>
	</select>
	
	<select id="selectWindmast" parameterType="Windmast" flushCache="false"
	    useCache="true" statementType="PREPARED" resultType="Windmast">
 SELECT * FROM base_windmast_info
        <choose>
          <when test="wpid != null">
            WHERE wpid = #{wpid} ORDER BY id ASC
          </when>
                  
          <otherwise>
            WHERE 1 = 1
          </otherwise> 
        </choose>
	</select>
	
	<select id="selectSyzinfo" parameterType="Syzinfo" flushCache="false"
	    useCache="true" statementType="PREPARED" resultType="Syzinfo">
 SELECT * FROM base_syzinfo
        <choose>
          <when test="wpid != null">
            WHERE wpid = #{wpid} ORDER BY id ASC
          </when>
                  
          <otherwise>
            WHERE 1 = 1
          </otherwise> 
        </choose>
	</select>

	
	<select id="selectRunlogcode" parameterType="Runlogcode" flushCache="false"
	    useCache="true" statementType="PREPARED" resultType="Runlogcode">
        <![CDATA[
 SELECT * FROM runlogcode WHERE systemid = #{systemid}
        ]]>
	</select>
	
	
	<select id="selectWtOneData" parameterType="WtOneData" flushCache="false"
	    useCache="true" statementType="PREPARED" resultType="WtOneData">
        <![CDATA[
 SELECT * FROM onedata WHERE wtid = #{wtid} AND rectime >= #{rectime} ORDER BY rectime ASC
        ]]>
	</select>
	
	
</mapper>
