<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.gradle.needle.mapper.SuperMapper">
	<select id="selectProdata" parameterType="Prodata" flushCache="false"
		useCache=true statementType="PREPARED" resultType="Prodata">
        <![CDATA[
            SELECT * FROM prodata WHERE PROTOCOLID = #{protocolid} AND COMPATH = #{compath}
        ]]>
	</select>

	<select id="selectPropaths" parameterType="Propaths" flushCache="false"
		useCache=true statementType="PREPARED" resultType="Propaths">
        <![CDATA[
           SELECT * FROM propaths WHERE PROTOCOLID = #{protocolid} AND COMPATH = #{compath}
        ]]>
	</select>

	<select id="selectPathdescr" parameterType="Pathdescr" flushCache="false"
		useCache=true statementType="PREPARED" resultType="Pathdescr">
        <![CDATA[
            
        ]]>
	</select>


</mapper>
